<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=6692a632-1bc7-4d00-9cec-a44800a82f12.sqlserver.sequelizer.com;Database=db6692a6321bc74d009ceca44800a82f12;User ID=oflcbuqnmzgihuem;Password=37dJMvvQ2zD2MyNuvMxu3q6JVd62hfuh6DDH6ahnYSoJsU2dq36LzXJKbBVJxBGU;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>